<!--<div>-->
<!--    <form class="form-group"  id = "loginForm">-->
<!--        <div class = "loginInput">-->
<!--            <label for="username">Username</label>-->
<!--            <input type="text" id="username" ng-model='user.username' />-->
<!--        </div>-->
<!--        <div class = "loginInput">-->
<!--            <label for="password">Password</label>-->
<!--            <input type="text" id="password" ng-model='user.password'  class = "form-control"/>-->
<!--        </div>-->


<!--        <input type="button" value="Login" ng-click='login(user)' />-->
<!--    </form>-->
<!--</div>-->
<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <form class="form-login" name=>
                <h4>Welcome back!</h4>
                <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" ng-model='user.username' />

                </span>
                </br>
                <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" ng-model='user.password' />
                </br>
                <div class="wrapper">
                    <span class="group-btn">
                <a href="#" ng-click = 'login(user)' class="btn btn-primary btn-block">Login <i class="fa fa-sign-in"></i></a>
                <a href="#" ng-click = 'register()' class="btn btn-success btn-block">Register <i class="fa fa-sign-in"></i></a>
            </span>
                </div>
            </form>

        </div>
    </div>
</div>
